In [1]:
import pandas as pd

In [3]:
transacoes = pd.read_csv('../data/transacoes.csv', sep=';')
transacoes.head()

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch

In [13]:
# Ordenar o DataFrame pela coluna 'DtCriacao' em ordem decrescente
transacoes = transacoes.sort_values('DtCriacao', ascending=False)
transacoes['Data'] = pd.to_datetime(transacoes['DtCriacao']).dt.date
transacoes.drop_duplicates(keep='first', subset=['IdTransacao', 'Data'])

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem,Data
16265,0ed3cfcf-aac8-4570-965f-f0955787973c,030496ce-9cb6-42a9-aa5a-5389dd4a2500,2025-12-14,100,twitch,2025-12-14
264617,f23d5a49-c1ac-4c89-9de4-88b009ed5e44,163022e8-12b8-486f-8604-57d8fa0ed7e1,2025-12-14,100,twitch,2025-12-14
34728,1fb2cd38-7752-4c2a-8909-caee6350bc1a,163022e8-12b8-486f-8604-57d8fa0ed7e1,2025-12-14,100,twitch,2025-12-14
124898,728c45dd-650d-4ab2-9587-970a7bf1f18f,163022e8-12b8-486f-8604-57d8fa0ed7e1,2025-12-14,100,twitch,2025-12-14
160145,92cc92ce-a82b-45e7-b244-99c15f3caff6,163022e8-12b8-486f-8604-57d8fa0ed7e1,2025-12-14,100,twitch,2025-12-14
...,...,...,...,...,...,...
253683,e84703a6-b606-4096-a2f3-514971c16c5c,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27,500,twitch,2024-01-27
4003,03974c58-e86e-4b6b-8143-8f89ca870d09,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27,1,twitch,2024-01-27
17638,10166182-a164-4608-8cdf-35e4450b2bd7,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27,500,twitch,2024-01-27
110026,6501ca90-371f-43cb-8c57-463f6c4e564e,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27,1,twitch,2024-01-27
274506,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27,1,twitch,2024-01-27