In [1]:
import pandas as pd

In [5]:
df_transacoes = pd.read_csv('../data/transacoes.csv', sep=';')

In [6]:
df_transacoes.shape

(279566, 5)

In [7]:
df_transacoes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279566 entries, 0 to 279565
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   IdTransacao        279566 non-null  object
 1   IdCliente          279566 non-null  object
 2   DtCriacao          279566 non-null  object
 3   QtdePontos         279566 non-null  int64
 4   DescSistemaOrigem  279566 non-null  object
dtypes: int64(1), object(4)
memory usage: 81.3 MB

In [8]:
df_transacoes.dtypes

IdTransacao          object
IdCliente            object
DtCriacao            object
QtdePontos            int64
DescSistemaOrigem    object
dtype: object

In [11]:
df_transacoes.columns

Index(['IdTransacao', 'IdCliente', 'DtCriacao', 'QtdePontos',
       'DescSistemaOrigem'],
      dtype='object')

In [31]:
rename_colunas = {
    'QtdePontos': 'QuantidadePontos',
    'DtCriacao': 'DataCriacao'
}

df_transacoes.rename(columns=rename_colunas, inplace=True)

In [32]:
df_transacoes

,IdTransacao,IdCliente,DataCriacao,QuantidadePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
...,...,...,...,...,...
279561,ffff45c7-83dc-4fa9-82b5-b41352093596,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-03 12:59:27.229,1,twitch
279562,ffff52de-13fb-4405-a797-fddb5b4a48c5,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-24 12:22:26.313,1,twitch
279563,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-08-16 13:09:42.576,1,twitch
279564,ffffc72e-d882-47f0-b933-cfd92c7e6621,2d3d2dce-d353-4961-ad39-46723efe2100,2024-02-06 11:51:24.788,1,twitch
279565,fffff928-9a18-4741-a516-3a92351d1d72,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-21 14:13:31.788,1,twitch

In [38]:
# Lista de colunas específicas, dentro de uma outra lista
df_transacoes[['IdCliente','DataCriacao']].head()

                              IdCliente              DataCriacao
0  24782f0b-4683-4f35-976a-ea21d6714ba6  2025-09-17 12:28:41.864
1  252a0923-3f79-45bb-b664-3040235c6c58  2024-07-23 12:49:49.874
2  30f45a6d-ada5-4a17-8338-710e414eb6c6  2025-09-17 13:38:57.479
3  65662aff-44d6-4f06-b9d9-07445c6e5943  2025-10-03 12:23:39.779
4  5f8fcbe0-6014-43f8-8b83-38cf2f4887b3  2024-02-20 13:21:45.613

In [ ]:
# Ordenar colunas em ordem alfabética
colunas = list(df_transacoes.columns)
colunas.sort()
colunas

df_transacoes = df_transacoes[colunas]
df_transacoes

,DataCriacao,DescSistemaOrigem,IdCliente,IdTransacao,QuantidadePontos
0,2025-09-17 12:28:41.864,twitch,24782f0b-4683-4f35-976a-ea21d6714ba6,0000520a-a4e5-4977-b360-17be62fa0f2b,1
1,2024-07-23 12:49:49.874,twitch,252a0923-3f79-45bb-b664-3040235c6c58,000060e8-aa76-4286-a8d7-f30e6fa47edd,1
2,2025-09-17 13:38:57.479,twitch,30f45a6d-ada5-4a17-8338-710e414eb6c6,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,1
3,2025-10-03 12:23:39.779,twitch,65662aff-44d6-4f06-b9d9-07445c6e5943,0000c010-a592-46f7-8b0b-6f841bee64ba,1
4,2024-02-20 13:21:45.613,twitch,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,0000dfbb-e14e-4ea7-a57f-60236869fffe,1
...,...,...,...,...,...
279561,2025-01-03 12:59:27.229,twitch,6313ceac-7806-4d34-aedd-476eed7c853a,ffff45c7-83dc-4fa9-82b5-b41352093596,1
279562,2024-02-24 12:22:26.313,twitch,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,ffff52de-13fb-4405-a797-fddb5b4a48c5,1
279563,2024-08-16 13:09:42.576,twitch,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,1
279564,2024-02-06 11:51:24.788,twitch,2d3d2dce-d353-4961-ad39-46723efe2100,ffffc72e-d882-47f0-b933-cfd92c7e6621,1
279565,2024-08-21 14:13:31.788,twitch,65662aff-44d6-4f06-b9d9-07445c6e5943,fffff928-9a18-4741-a516-3a92351d1d72,1