In [1]:
import pandas as pd

In [2]:
df_cliente = pd.read_csv('../data/clientes.csv', sep=';')
df_cliente.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367

In [3]:
df_cliente.tail()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
4489,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
4490,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4491,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,878,2025-08-25 13:09:12.556,2025-11-03 18:02:28.737
4492,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959
4493,fff7862d-4b2c-4140-a4c5-509b48ed31b4,0,1,0,0,0,1000,2025-11-12 01:01:58.698,2025-11-12 01:02:16.561

In [4]:
# Display 10 random samples from the DataFrame
df_cliente.sample(10)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
1720,60e4a326-fa36-434e-a0fc-7c81ff780f8a,0,0,0,0,0,69,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
2570,909c837a-9b67-4378-901b-53626c6aafd4,0,1,0,0,0,705,2025-01-13 12:38:24.119,2025-11-14 12:21:38.804
3716,d11987b7-dc56-4369-a8ef-f12e01c42370,0,1,0,0,0,371,2025-01-28 11:47:22.534,2025-04-14 12:34:57.773
4092,e6d1fdc6-23ce-4f67-adeb-794d68ab6e6a,0,0,0,0,0,162,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
748,283cea81-5e22-494d-a2ba-c37a0bd547cb,0,1,0,0,0,0,2025-12-06 17:46:20.130,2025-12-06 17:46:20.130
1127,3e0cf827-0afb-4b5b-89ba-196cecdd44ae,0,0,0,0,0,58,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3813,d6ae3f9a-f285-4a55-9888-9e950a775b76,0,1,0,0,0,1369,2025-03-10 11:13:26.259,2025-07-24 12:40:16.649
2587,91f3934c-7634-4d07-bf8b-55981b60b16d,0,0,0,0,0,1109,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
1870,6985f412-d762-496e-9ab1-15716e652466,0,1,0,0,0,51,2025-08-25 14:28:23.527,2025-08-25 14:29:37.808
4327,f524c272-4c9b-47ee-bda6-086bb25d942d,0,1,0,0,0,525,2025-08-25 12:22:14.950,2025-09-04 13:33:27.477

In [5]:
# Obter (número de linhas e colunas) do DataFrame
df_cliente.shape

(4494, 9)

In [6]:
# Obter os nomes das colunas do DataFrame
df_cliente.columns

Index(['idCliente', 'flEmail', 'flTwitch', 'flYouTube', 'flBlueSky',
       'flInstagram', 'qtdePontos', 'DtCriacao', 'DtAtualizacao'],
      dtype='object')

In [7]:
# Obter o começo do dataframe, a quantidade de linhas do dataframe e os steps
df_cliente.index

RangeIndex(start=0, stop=4494, step=1)

In [8]:
# Obter informações detalhadas sobre o DataFrame, incluindo uso de memória
df_cliente.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4494 entries, 0 to 4493
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idCliente      4494 non-null   object
 1   flEmail        4494 non-null   int64
 2   flTwitch       4494 non-null   int64
 3   flYouTube      4494 non-null   int64
 4   flBlueSky      4494 non-null   int64
 5   flInstagram    4494 non-null   int64
 6   qtdePontos     4494 non-null   int64
 7   DtCriacao      4494 non-null   object
 8   DtAtualizacao  4494 non-null   object
dtypes: int64(6), object(3)
memory usage: 1.2 MB

In [9]:
# Obter os tipos de dados de cada coluna no DataFrame
df_cliente.dtypes

idCliente        object
flEmail           int64
flTwitch          int64
flYouTube         int64
flBlueSky         int64
flInstagram       int64
qtdePontos        int64
DtCriacao        object
DtAtualizacao    object
dtype: object

In [10]:
# Obter o tipo de dado da coluna 'idCliente'
df_cliente.dtypes['idCliente']

dtype('O')

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../data/transacoes.csv', sep=';')

In [13]:
df.head()

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch

In [14]:
# Filtrar linhas onde a coluna 'QtdePontos' é maior ou igual a 50 e menor que 100
filtro = (df['QtdePontos'] >= 50) & (df['QtdePontos'] < 100) & (df['DtCriacao'] > '2025-09-17')
df[filtro]

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
20,0003acb0-624a-4e65-bf95-426450b4434d,1b08989c-039d-4c82-879b-0f56159a1ebb,2025-11-25 12:13:19.266,50,twitch
120,001ad772-cce9-4ad9-80f3-cdbbc6367d2a,acc75571-ba57-4cb5-bb7b-c140987ae94d,2025-10-14 12:21:01.319,50,twitch
131,001d7df0-e5d3-45d5-b3eb-e30f8f3ac4a1,31ec8a06-d986-4a7f-adb7-5cf79e3ca10c,2025-09-22 12:06:13.931,50,twitch
158,00216753-5f5c-49f1-9870-c4a71d89335c,44a6eef6-d77b-40ec-8ec5-6918a54efdb8,2025-09-26 12:37:43.384,50,twitch
193,00299fb0-fc6e-4e95-b332-363df00b14ad,ec5db4bb-61ce-4d3b-92d6-4136f4043727,2025-12-03 12:06:13.819,50,twitch
...,...,...,...,...,...
279351,ffcbdd3a-f8a1-4b09-979f-ff414ab30c0d,e3828641-02e8-4ff4-8293-78876e0417c8,2025-09-30 13:04:07.632,50,twitch
279370,ffd07d6c-4fdf-476c-8837-5fe5d71996c2,642ab762-9fbe-4d00-9652-1f4a4718451f,2025-09-19 11:59:37.039,50,twitch
279391,ffd4ce48-a2b7-4466-9cdf-8b56e5f5845e,a734e5f2-9883-416f-8db2-0b5f138ed1a0,2025-12-04 13:22:24.829,50,twitch
279533,fff723cb-e360-470d-a531-65d7d0cae718,8b7fa7ca-c541-4c97-b06f-a06b2368a1ea,2025-11-28 12:57:47.633,50,twitch
279552,fffd0631-ac87-4432-bf7d-b7200fda8f0c,1dd4b8bc-f909-42bf-9748-88decb919c94,2025-10-02 11:56:38.812,50,twitch

In [15]:
# Filtrar linhas onde a coluna 'QtdePontos' é igual a 1 ou igual a 100
filtro = (df['QtdePontos'] == 1) | (df['QtdePontos'] == 100)
df[filtro]

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
...,...,...,...,...,...
279561,ffff45c7-83dc-4fa9-82b5-b41352093596,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-03 12:59:27.229,1,twitch
279562,ffff52de-13fb-4405-a797-fddb5b4a48c5,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-24 12:22:26.313,1,twitch
279563,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-08-16 13:09:42.576,1,twitch
279564,ffffc72e-d882-47f0-b933-cfd92c7e6621,2d3d2dce-d353-4961-ad39-46723efe2100,2024-02-06 11:51:24.788,1,twitch
279565,fffff928-9a18-4741-a516-3a92351d1d72,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-21 14:13:31.788,1,twitch