In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/transacao_produto.csv', sep=';')
df.head()

,idTransacaoProduto,IdTransacao,IdProduto,QtdeProduto,vlProduto
0,000026d0-4d4e-4fed-934a-9e5b26d9e379,d59d9859-8fb9-41cc-a296-be38c4dce8e4,5,1,1
1,00002f54-dd03-4b3f-ade0-22c3e61df8c2,519241fd-2676-49b2-8e74-0acc09a08f69,5,1,1
2,00006a7d-c83a-44ca-aad9-e8a2a2f1b64d,73993c42-d18f-4f51-82c4-25e13c29962c,11,1,50
3,0000991a-e6ae-4b9f-8747-c6cfe77890dd,db341350-16e4-49ea-96d4-c3e991e7c8c0,5,1,1
4,0000d145-c8b5-48fb-9ea3-d91eba3af306,7ee57139-6183-4cd6-8960-b5b14884aefb,5,1,1

In [6]:
df.columns

Index(['idTransacaoProduto', 'IdTransacao', 'IdProduto', 'QtdeProduto',
       'vlProduto'],
      dtype='object')

In [ ]:
# filtro
# Criação de uma copia, pois tudo é ponteiro
filtro = df['QtdeProduto'] == 0
df_pos_filtro = df[filtro].copy()

In [ ]:
# Apos criar a copia eu posso criar um novo campo, sem o copy vai dar erro pois a variavel filtro vai receber o ponteiro
df_pos_filtro["fodassse"] = "1"
df_pos_filtro

,idTransacaoProduto,IdTransacao,IdProduto,QtdeProduto,vlProduto,fodassse
1234,01196939-9567-475d-8ecd-c9a644de5b36,e33d2a9c-76af-4ba2-8e3d-9b03aa249b9a,NaN,0,0,1
3064,02c59cf3-47eb-4434-a92e-4ec69e2a6597,36431521-9ea3-41ba-8a17-e8d49f1b743d,NaN,0,0,1
3277,02f5b1f5-f3c3-47b3-9d5c-4d6c5634a99f,5d8db6db-0f18-4002-a35f-2f2ec7a1aec1,NaN,0,0,1
4744,04572144-c19b-4380-93b3-ea05e4e824f7,8305cd54-bf07-44f9-a358-45d0ad3b9513,NaN,0,0,1
4913,04808292-c461-434c-8229-cba6c528c6ca,f328736a-2452-4156-b076-3278026fa3b1,NaN,0,0,1
...,...,...,...,...,...,...
276598,fd5590f1-86c3-49b3-91c8-d9848ec06526,f0778585-4506-4105-8ea0-62c4622e86c2,NaN,0,0,1
276633,fd5fabb2-6cff-4767-9520-0a21625701d5,49d9d3c3-e0a2-43c6-9845-bb5d70a2fcc8,NaN,0,0,1
277885,fe83cefb-8d10-4e4e-af90-0eb42741c3f8,dce57e02-6bdf-4bc8-933f-341b9a068758,NaN,0,0,1
279132,ff97b5a7-d1a7-44da-a7b1-2e55b034901e,f25166fe-9594-4f5b-a4fe-6471c0f76847,NaN,0,0,1
279297,ffbca6ba-1e97-45c0-b22c-668dab83582c,2ead0a61-fee1-405d-a487-19946e4ed5b1,NaN,0,0,1