In [1]:
import pandas as pd

In [2]:
cliente =  pd.read_csv('../data/clientes.csv', sep=';')
cliente.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367

In [ ]:
## Somando valores de uma coluna específica, no caso essa coluna apresenta valores 0 e 1
cliente["flTwitch"].sum()

3043

In [ ]:
## Soma todos os valores da coluna.
## Divide o resultado pela quantidade total de elementos.
## Ou seja, soma todos os valores 1 e divide pela quantidade total de elementos.
cliente["flTwitch"].mean()

0.6670320035072337

In [ ]:
## Saber a media de todas as redes sociais de uma vez só
redes_sociais = ["flEmail",	"flTwitch",	"flYouTube", "flBlueSky", "flInstagram"]
cliente[redes_sociais].mean()

flEmail        0.019947
flTwitch       0.667032
flYouTube      0.000000
flBlueSky      0.000000
flInstagram    0.000000
dtype: float64

In [13]:
## Cria filtro para identificar colunas do tipo object
filtro = cliente.dtypes == "object"

## Retorna lista com nomes das colunas do tipo object
## Pois o filtro retorna uma Series booleana, onde True indica que a coluna é do tipo object, ao negar retorna tudo que não é object
colunas_numericas = cliente.dtypes[~filtro].index.tolist()
cliente[colunas_numericas].mean()

flEmail          0.019947
flTwitch         0.667032
flYouTube        0.000000
flBlueSky        0.000000
flInstagram      0.000000
qtdePontos     434.623849
dtype: float64

In [ ]:
## O describe retornar um dataframe, o mean, sum retorna uma serie 
cliente[colunas_numericas].describe()

,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos
count,4562.000000,4562.000000,4562.0,4562.0,4562.0,4562.000000
mean,0.019947,0.667032,0.0,0.0,0.0,434.623849
std,0.139835,0.471327,0.0,0.0,0.0,1198.488915
min,0.000000,0.000000,0.0,0.0,0.0,0.000000
25%,0.000000,0.000000,0.0,0.0,0.0,0.000000
50%,0.000000,1.000000,0.0,0.0,0.0,56.500000
75%,0.000000,1.000000,0.0,0.0,0.0,312.000000
max,1.000000,1.000000,0.0,0.0,0.0,25086.000000