In [1]:
import pandas as pd

In [2]:
transacoes = pd.read_csv('../data/transacoes.csv', sep=';')
transacoes.head()

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch

In [ ]:
## Agrupa as transações por IdCliente e conta a quantidade de transações por cliente
transacoes.groupby(by=["IdCliente"]).count()

,IdTransacao,DtCriacao,QtdePontos,DescSistemaOrigem
IdCliente,,,,
000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,2,2,2,2
000ff655-fa9f-4baa-a108-47f581ec52a1,512,512,512,512
001749bd-37b5-4b1e-8111-f9fbba90f530,1,1,1,1
0019bb9e-26d4-4ebf-8727-fc911ea28a92,2,2,2,2
0033b737-8235-4c0f-9801-dc4ca185af00,548,548,548,548
...,...,...,...,...
ff1ceaef-650c-422b-bdc3-6984e29e7aa5,15,15,15,15
ff2cabd3-3316-4b3f-8494-c25f95e90524,8,8,8,8
ff4909ad-4e52-4767-a6fc-0fbd76e37857,1,1,1,1
ff5d2399-6b53-49f0-b41e-fdaaa0da172a,339,339,339,339
fff7862d-4b2c-4140-a4c5-509b48ed31b4,1,1,1,1

In [10]:
transacoes.dtypes

IdTransacao          object
IdCliente            object
DtCriacao            object
QtdePontos            int64
DescSistemaOrigem    object
dtype: object