In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('../data/clientes.csv', sep=';')
df.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6...,0,1,0,0,0,2,2025-11-...,2025-12-...
1,000ff655...,0,0,0,0,0,25086,2024-02-...,2025-09-...
2,001749bd...,0,0,0,0,0,50,2024-02-...,2024-02-...
3,0019bb9e...,0,0,0,0,0,2,2024-02-...,2024-02-...
4,0028dda2...,0,1,0,0,0,0,2025-10-...,2025-10-...

In [33]:
# Salvando o DataFrame em um novo arquivo CSV, sem o Ã­ndice
df.to_csv('clientes_novo.csv', index=False)

In [34]:
# Salvando o DataFrame em formato Parquet
df.to_parquet('clientes.parquet', index=False)

In [35]:
df2 = pd.read_parquet('clientes.parquet')
df2.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6...,0,1,0,0,0,2,2025-11-...,2025-12-...
1,000ff655...,0,0,0,0,0,25086,2024-02-...,2025-09-...
2,001749bd...,0,0,0,0,0,50,2024-02-...,2024-02-...
3,0019bb9e...,0,0,0,0,0,2,2024-02-...,2024-02-...
4,0028dda2...,0,1,0,0,0,0,2025-10-...,2025-10-...