In [21]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/clientes.csv', sep=';')
df.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367

In [6]:
# Soma um valor a serie atraves da operação de adição
df['pontos_100'] = df['qtdePontos'] + 100
df

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,soma_100,pontos_100
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364,102,102
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697,25186,25186
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,150,150
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,102,102
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367,100,100
...,...,...,...,...,...,...,...,...,...,...,...
4489,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892,157,157
4490,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,150,150
4491,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,878,2025-08-25 13:09:12.556,2025-11-03 18:02:28.737,978,978
4492,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959,100,100
4493,fff7862d-4b2c-4140-a4c5-509b48ed31b4,0,1,0,0,0,1000,2025-11-12 01:01:58.698,2025-11-12 01:02:16.561,1100,1100

In [ ]:
# Cria nova coluna, verifica o valor do campo flEmail e o campo flTwitch
# Soma os campos, o resultado será o valor da coluna 1 e coluna 2
df['email_twitch'] = df['flEmail'] + df['flTwitch']
df.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,soma_100,pontos_100,email_twitch
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364,102,102,1
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697,25186,25186,0
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,150,150,0
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,102,102,0
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367,100,100,1

In [ ]:
# Retorna a interceção de email e twitch
# Ou seja tem que ter email e twitch
df['email_twitch'] = df['flEmail'] * df['flTwitch']
df.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,soma_100,pontos_100,email_twitch
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364,102,102,0
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697,25186,25186,0
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,150,150,0
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,102,102,0
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367,100,100,0

In [ ]:
# Soma a quantidade de redes sociais de uma pessoa
df['qtdRedesSociais'] = df['flEmail'] +	df['flTwitch'] + df['flYouTube'] +	df['flBlueSky'] + df ['flInstagram']
filtro = df['qtdRedesSociais'] == 2
df[filtro].info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 428 to 4106
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   idCliente        34 non-null     object
 1   flEmail          34 non-null     int64
 2   flTwitch         34 non-null     int64
 3   flYouTube        34 non-null     int64
 4   flBlueSky        34 non-null     int64
 5   flInstagram      34 non-null     int64
 6   qtdePontos       34 non-null     int64
 7   DtCriacao        34 non-null     object
 8   DtAtualizacao    34 non-null     object
 9   soma_100         34 non-null     int64
 10  pontos_100       34 non-null     int64
 11  email_twitch     34 non-null     int64
 12  qtdRedesSociais  34 non-null     int64
dtypes: int64(10), object(3)
memory usage: 3.7+ KB

In [ ]:
# Verifica se possue todas as redes sociais
# 1 * 1 * 1 * 1 = 1
# 1 * 1 * 1 * 0 = 0
df['possuie_Todas_Redes'] = df['flEmail'] *	df['flTwitch'] * df['flYouTube'] * df['flBlueSky'] * df ['flInstagram']
df.head()

In [22]:
np.log(df["qtdePontos"])

/home/kleberson/anaconda3/lib/python3.13/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0        0.693147
1       10.130065
2        3.912023
3        0.693147
4            -inf
          ...
4489     4.043051
4490     3.912023
4491     6.777647
4492         -inf
4493     6.907755
Name: qtdePontos, Length: 4494, dtype: float64