In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/clientes.csv', sep=';')

In [ ]:
# sort_values = ordena os elementos
# by = serie que est√° sendo usada para ordenar
# ascending = ordenar do maior para menor
# head = quantidade de elementos que eu quero
df.sort_values(by="qtdePontos", ascending=False).head(5)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
3837,d7f7eb75-4f0b-4d15-960d-8efe5ca7dd7e,0,0,0,0,0,19628,2025-03-07 12:36:50.254,2025-12-12 12:14:18.672
790,2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1,1,1,0,0,0,19438,2025-03-07 12:59:11.756,2025-12-12 12:12:10.372
2263,803debdb-8136-4cb5-af29-dcd8db36bf2c,0,1,0,0,0,16246,2025-02-28 13:19:26.475,2025-07-02 13:44:45.438
1464,520ec5df-4362-4dc5-8652-908676138114,0,1,0,0,0,15536,2024-11-21 11:57:13.065,2025-12-12 13:08:40.777