In [1]:
import pandas as pd

In [2]:
clientes = pd.read_csv('../data/clientes.csv', sep=';')
clientes

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367
...,...,...,...,...,...,...,...,...,...
4557,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
4558,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4559,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,878,2025-08-25 13:09:12.556,2025-11-03 18:02:28.737
4560,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959
4561,fff7862d-4b2c-4140-a4c5-509b48ed31b4,0,1,0,0,0,1000,2025-11-12 01:01:58.698,2025-11-12 01:02:16.561

In [3]:
# Removendo linhas com valores NA do DataFrame), se tiver algum valor NA em qualquer coluna
clientes.dropna()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367
...,...,...,...,...,...,...,...,...,...
4557,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
4558,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4559,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,878,2025-08-25 13:09:12.556,2025-11-03 18:02:28.737
4560,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959
4561,fff7862d-4b2c-4140-a4c5-509b48ed31b4,0,1,0,0,0,1000,2025-11-12 01:01:58.698,2025-11-12 01:02:16.561

In [4]:
# Removendo linhas com valores NA do DataFrame, se todos os valores forem NA na linha
clientes.dropna(how='all')

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367
...,...,...,...,...,...,...,...,...,...
4557,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
4558,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4559,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,878,2025-08-25 13:09:12.556,2025-11-03 18:02:28.737
4560,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959
4561,fff7862d-4b2c-4140-a4c5-509b48ed31b4,0,1,0,0,0,1000,2025-11-12 01:01:58.698,2025-11-12 01:02:16.561

In [5]:
df = pd.DataFrame({
    'nome': ["teo", None, "Nah", "Marcio"],
    'idade': [None, None, 43, 52],
    'salario': [3452, 4400, None, 5482]
})

In [6]:
# Removendo linhas com valores NA na coluna "idade"
# Se passar salario no subset, tanto salario quanto idade devem estar com NA para a linha ser removida
df.dropna(how='all', subset=["idade", "salario"])

     nome  idade  salario
0     teo    NaN   3452.0
1    None    NaN   4400.0
2     Nah   43.0      NaN
3  Marcio   52.0   5482.0

In [7]:
# Se passar salario no subset, tanto salario quanto idade podem ser NA para a linha ser removida
# Desta vez se qualquer um dos dois for NA a linha será removida
df.dropna(how='any', subset=["idade", "salario"])

     nome  idade  salario
3  Marcio   52.0   5482.0

In [8]:
# Preenchendo valores NA na coluna 'idade' com 0
# Caso queira trocar as series que tem NA, qualquer uma delas pode usar df.fillna(0)
df['idade'] = df['idade'].fillna(0)

In [9]:
medias = df[['salario', 'idade']].mean()
medias
df.fillna(medias)

     nome  idade      salario
0     teo    0.0  3452.000000
1    None    0.0  4400.000000
2     Nah   43.0  4444.666667
3  Marcio   52.0  5482.000000