In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/clientes.csv', sep=';')
df.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367

In [ ]:
# Ver a coluna qtdePontos e o seu tipo de dado
df['qtdePontos']

0           2
1       25086
2          50
3           2
4           0
        ...
4489       57
4490       50
4491      878
4492        0
4493     1000
Name: qtdePontos, Length: 4494, dtype: int64