In [1]:
import pandas as pd

In [4]:
idades = [25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
serie_idades = pd.Series(idades)
serie_idades

0      25
1      30
2      35
3      40
4      45
5      50
6      55
7      60
8      65
9      70
10     75
11     80
12     85
13     90
14     95
15    100
dtype: int64

In [ ]:
# Acessando o primeiro valor da Series
# Ignora o índice, uso iloc para acessar pela linha
primeiro_valor = serie_idades.iloc[0]
primeiro_valor

np.int64(25)

In [ ]:
# Ultimo valor da Series
# Ignora o índice, uso iloc para acessar pela linha
ultimo_valor = serie_idades.iloc[-1]
ultimo_valor

np.int64(100)

In [9]:
# Acessando os três primeiros valores da Series
primeiros_tres = serie_idades.iloc[0:3]
primeiros_tres

0    25
1    30
2    35
dtype: int64

In [11]:
# Invertendo a Series
lista_reversa = serie_idades[::-1]
lista_reversa

15    100
14     95
13     90
12     85
11     80
10     75
9      70
8      65
7      60
6      55
5      50
4      45
3      40
2      35
1      30
0      25
dtype: int64